<p>
  <%= @publication.title %>
</p>
<p>
  <%= @publication.year.year %>
</p>
<p>
  <% @publication.publication_files.each do |f| %>
    <%= f.public_filename %><br />
  <% end %>
</p>
<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
