<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>
<p>
  <b>Name ja:</b>
  <%=h @project.name_ja %>
</p>
<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>
<p>
  <b>Description ja:</b>
  <%=h @project.description_ja %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
